body {
    margin: 0;
    text-align: center;
    font-family: 'Inter', sans-serif;
    background: #F4F4F4;
}

#heading-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #6943FF;
    color: white;
}

#heading-title {
    margin: 30px auto 20px;
}

#number-input {
    margin: 10px 40px;
    padding: 8px 16px;
    height: 85px;
    min-width: 100px;
    max-width: 90vw;
    overflow: scroll;
    border: 2px solid #B295FF;
    border-radius: 5px;
    text-align: center;
    font-weight: 800;
    font-size: 42pt;
    caret-color: transparent;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

span:focus {
    outline: none;
}

#convert-btn {
    margin: 10px auto 30px;
    font-weight: 500;
    font-size: 16px;
    background: white;
    color: #3D3D3D;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#conversion-section {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.conversion-card {
    background: white;
    border-radius: 5px;
    margin: 15px auto;
    padding: 10px 50px;
    min-width: 500px;
}

.conversion-heading {
    font-weight: 600;
    color: #5A537B;
}

.conversion-data {
    font-weight: 400;
    color: #353535;
}